*.log
*.pot
*.pyc
__pycache__/
local_settings.py

venv/
env/
.env
*.swp
*~
*.bak
*.tmp

db.sqlite3

media/

*.bak

.vscode/
.idea/

*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.egg